.card {
    width: 330px;
    min-width: 330px;
    height: auto;
    margin: 20px;

    .css-h93ljk-MuiTypography-root {
        font-family: monospace;
    }

    &:hover {
        opacity: 0.9;
    }
}