.mouse {
    height: 60px;
    width: 32px;
    background-color: rgb(10 25 41 / 86%);
    border: 3px solid white;
    border-radius: 32px;
    position: fixed;
    bottom: 20px;
    left: 49%;

    .scrollWheel {
        height: 20px;
        width: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10px;
        border-radius: 1px;
        transform: scaleY(0);
        animation: scroll 2s linear infinite;
    }
}

@keyframes scroll {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    25% {
        transform: scaleY(1);
        transform-origin: top;
    }

    26% {
        transform-origin: bottom;
    }

    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}